@use '../utils/spacing' as s;
@use '../utils/colors' as c;
@use '../utils/font-sizes' as f;

.tool {
  &--section {
    display: flex;
    flex-direction: column;

    margin: s.$s16 0;
    gap: s.$s6;

    &--cover {
      width: 100%;
      max-width: 300px;
      height: auto;

      margin: 0 auto;

      border-radius: 50%;
      aspect-ratio: 1/1;

      object-fit: cover;
    }
  }
}