@use './../utils/spacing' as s;
@use './../utils/colors' as c;
@use './../utils/font-sizes' as f;

.credentials {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  min-height: 100vh;
  max-width: 500px;
}